In [17]:
#all imports
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import networkx as nx
import pandas as pd
from tqdm import tqdm

In [18]:
nodes = pd.read_csv("youtube_raw.csv").drop("id.1",axis = 1)

#eliminate recommendations
nodes = nodes.iloc[:,0:9]

In [19]:
nodes.head(3)

,id,uploader,age,category,length,views,rate,ratings,comments
0,2rwktobtv9s,EA,742.0,Gadgets & Games,83.0,389536.0,2.65,2294.0,268.0
1,h6Ghupxbj9g,KB42PAH,742.0,Sports,28.0,276207.0,4.57,297.0,424.0
2,mfeZibn3vmU,Gromek66,742.0,Comedy,278.0,151693.0,4.68,228.0,96.0

In [20]:
#transform every column in list
for i in nodes.columns:
    globals()[i]=nodes[i].values.tolist()

In [21]:
#print all variables that are now available as lists
nodes.columns

Index(['id', 'uploader', 'age', 'category', 'length', 'views', 'rate',
       'ratings', 'comments'],
      dtype='object')

# Define Features

In [22]:
def node_features(source, target):
    source_idx, target_idx = id.index(source), id.index(target)
    same_channel = 1 if uploader[source_idx]==uploader[target_idx] else 0
    age_diff = age[source_idx]-age[target_idx]
    same_category = 1 if category[source_idx]==category[target_idx] else 0
    length_diff = length[source_idx]-length[target_idx]
    views_diff = views[source_idx]-views[target_idx]
    rate_diff = rate[source_idx]-rate[target_idx]
    nb_rate_diff = ratings[source_idx]-ratings[target_idx]
    comments_diff = comments[source_idx]-comments[target_idx]

    return [same_channel,
            age_diff,
            same_category,
            length_diff,
            views_diff,
            rate_diff,
            nb_rate_diff,
            comments_diff]

# Compute Features

In [23]:
#read train set and train graph
train_edges = pd.read_csv("train_set.csv", index_col =0).values.tolist()
G_train = nx.read_edgelist("train.edgelist", delimiter=',')

#read test set and test graph
test_edges = pd.read_csv("test_set.csv", index_col =0).values.tolist()
G_test = nx.read_edgelist("test.edgelist", delimiter=',')

In [29]:
#compute features for training set
x_train = []
y_train = []
for i in tqdm(train_edges):
    x_train.append(node_features(i[0], i[1]))
    y_train.append(int(i[2]))

100%|██████████| 307274/307274 [40:16<00:00, 127.14it/s]

In [30]:
x_train = pd.DataFrame(x_train, columns = ["same_channel",
            "age_diff",
            "same_category",
            "length_diff",
            "views_diff",
            "rate_diff",
            "nb_rate_diff",
            "comments_diff"])
            
x_train["y"] = y_train

In [31]:
x_train.to_csv("node_feautures_train.csv", index=False)

In [32]:
x_train.head(3)

,same_channel,age_diff,same_category,length_diff,views_diff,rate_diff,nb_rate_diff,comments_diff,y
0,0,-55.0,1,330.0,3.0,0.02,2.0,0.0,1
1,1,2.0,1,-221.0,1423.0,0.01,13.0,10.0,1
2,0,86.0,0,-32.0,292.0,-1.75,8.0,12.0,1

In [33]:
#compute feautures for test set
x_test = []
y_test = []
for i in tqdm(test_edges):
    x_test.append(node_features(i[0], i[1]))
    y_test.append(int(i[2]))

100%|██████████| 170706/170706 [17:01<00:00, 167.16it/s]

In [34]:
x_test = pd.DataFrame(x_test, columns = ["same_channel",
            "age_diff",
            "same_category",
            "length_diff",
            "views_diff",
            "rate_diff",
            "nb_rate_diff",
            "comments_diff"])
            
x_test["y"] = y_test

In [35]:
x_test.to_csv("node_feautures_test.csv", index=False)